@model PlanningProject.Pages.Shared.Components.ParticipantsViewModel

<div class="w-max h-max p-2 rounded-[10px] flex items-center justify-center bg-cstm-lobby-limit-purple">
    <span class="text-white font-bold fa-solid fa-users"> @Model.CurrentParticipants/@Model.TotalParticipants</span>
</div>
