@model PlanningProject.Pages.Shared.Components.ParticipantsViewModel

<div class="w-max h-max p-2 rounded-[10px] flex items-center justify-center bg-purple-400">
    <span class="text-white font-bold">@Model.CurrentParticipants/@Model.TotalParticipants</span>
</div>
