@model PlanningProject.Pages.Shared.Components.DateViewModel

<div class="w-max h-max p-2 rounded-[10px] flex items-center justify-center bg-purple-800">
    <span class="text-white font-bold">@Model.StartDate - @Model.EndDate</span>
</div>
