@model TaskListElementViewModel

<div
    class="w-full h-[100px] min-h-[100px] flex items-center justify-between px-[40px] py-[8px] bg-zinc-300 border-[3px] border-slate-400 rounded-[20px] text-[30px]">
    <h2 class="text-[30px] font-semibold text-slate-500">@Model.title</h2>
    <div class="flex items-center gap-2">
        <p class="text-[30px] font-semibold text-slate-500">Avg: @Math.Floor(@Model.averageScore)</p>
    </div>
</div>