@model TaskListElementViewModel

<div class="w-full h-full flex items-center justify-between px-[12px] py-[8px] border-2 border-slate-400 rounded-md">
    <h2 class="text-xl text">@Model.title</h2>
    <div class="">
        <p class="">Avg: @Model.averageScore</p>
    </div>
</div>