@model TableViewModel

<div class=" w-[40%] h-64 rounded-[25px] flex items-center justify-center 
    @(Model.AllVoted ? "bg-cstm-light-purple" : "bg-cstm-light-purple")
">
    @if (Model.AllVoted)
    {
        <button class="bg-cstm-purple text-white font-bold py-2 px-4 rounded select-none">Reveal cards</button>
    }
    @if (!Model.AllVoted)
    {
        <p class="text-3xl text-gray-600">Waiting for the others...</p>
    }
</div>
