﻿
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Planning Poker</title>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titan+One&display=swap" rel="stylesheet">
</head>

<body class="w-full h-screen flex flex-col justify-center items-center bg-gradient-to-br from-[87%] from-slate-100 to-cstm-purple selection:bg-cstm-purple selection:text-white">
    @RenderBody()
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>

</html>