@model PlanningProject.Pages.Shared.Components.StartBtnViewModel

<form method="post">
	<button type="submit" id="sprintButton" class="w-10 h-10 rounded-full flex items-center justify-center bg-cstm-purple">
		<span class="text-white font-bold fa-solid fa-play"></span>
	</button>
</form>