
@model dynamic

<a href="/Poker?SprintId=@Model.SprintId" class="w-[60px] h-[60px] min-h-[60px] flex items-center justify-center bg-cstm-lobby-limit-purple rounded-full hover:bg-cstm-purple transition-colors">
    <i class="fa-solid fa-play text-white text-2xl"></i>
</a>
