@model PlanningProject.Pages.Shared.Components.StartButtonViewModel

<div class="start-button flex justify-center items-center bg-cstm-purple rounded-full w-12 h-12 cursor-pointer">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
        <polygon points="5,3 19,12 5,21" fill="currentColor"/>
    </svg>
    @* csak próba, még nem működik *@
</div>
