@model PlanningProject.Pages.Shared.Components.SprintListElementViewModel

<div class="w-[99%] h-[100px] min-h-[100px] flex items-center justify-between px-[40px] py-[8px] bg-cstm-lobby-gray border-[3px] border-cstm-lobby-limit-purple rounded-[20px]">
    <div class="flex items-center gap-4">
        @await Component.InvokeAsync("StartBtn")
        <h2 class="font-bold">@Model.Title</h2>
    </div>
    <div class="flex items-center gap-4">
        @await Component.InvokeAsync("Date", new { startDate = Model.StartDate, endDate = Model.EndDate })
        @await Component.InvokeAsync("Participants", new { currentParticipants = Model.CurrentParticipants, totalParticipants = Model.TotalParticipants })
    </div>
</div>