@page "/Poker"
@model PlanningProject.Pages.Poker.PokerModel

<!DOCTYPE html>
<html>

<head>
    <title>Planning Poker</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
    <div class="w-full h-screen flex flex-col flex-grow relative">
        @await Component.InvokeAsync("PokerHeader", new { isOpened = false })
        <div class="w-full h-[86%] flex flex-col items-center justify-center">

        </div>
        @await Component.InvokeAsync("CardDeck")
    </div>
</body>

</html>
