@model PokerHeaderViewModel

<div class="absolute top-0 w-full h-fit flex items-center justify-between px-[12px] py-[12px]">
    <button
        class="w-[50px] h-[50px] flex justify-center items-center hover:bg-purple-300 rounded-full z-40 duration-500 outline-none">
        <i class="fa-solid fa-list text-[24px] text-cstm-purple"></i>
    </button>
    <p class="text-xl text-cstm-purple text-center font-semibold selection:bg-cstm-purple selection:text-white">User 0
    </p>
</div>