@model PokerHeaderViewModel

<div class="absolute top-0 w-full h-[50px] flex items-center justify-between px-[12px]">
    <button class="w-[50px] h-[50px] flex justify-center items-center bg-purple-300 rounded-full z-40 outline-none">
        <i class="fa-solid fa-list text-xl text-cstm-purple"></i>
    </button>
    <p class="text-xl text-cstm-purple text-center font-semibold">User 0</p>
</div>